<nav class="flex justify-between p-4 bg-primary text-black">
    <div>
        <a routerLink="/">Book Shop</a>
    </div>
    <div>
        <a class="mx-4" routerLink="/cart"> My Cart</a>
        <a class="mx-4" routerLink="/structural-directive"> Structural-directives</a>
        <a class="mx-4" routerLink="/attribute-directive"> Attributes-directives</a>
        <a class="mx-4" routerLink="/ifelse-directive">Ifelse</a>
        <a class="mx-4" routerLink="/forswitch-directive">forswitch</a>
        <a class="mx-4" routerLink="/pipe">Pipe</a>
        <a class="mx-4" routerLink="/form">Template form</a>
        <a class="mx-4" routerLink="/reactiveform">Reactiveform</a>
        <a class="mx-4" routerLink="/getapi">GetAPI</a>
        <a class="mx-4" routerLink="/postapi">PostAPI</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-4" routerLink="/login"> Login</a>
            <a class="mx-4" routerLink="/register"> Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <button (click)="logout()" class="mx-4">Logout</button>
        </ng-container>
    </div>
</nav>


<div class="p-4">
    <router-outlet></router-outlet>
</div>

